[package]
name = "modio"
version = "0.4.1" # don't forget to update html_root_url
description = "Rust interface for mod.io"
readme = "README.md"
documentation = "https://docs.rs/modio"
repository = "https://github.com/nickelc/modio-rs"
license = "MIT/Apache-2.0"
authors = ["Constantin Nickel <constantin.nickel@gmail.com>"]
keywords = ["modio", "hyper"]
categories = ["api-bindings", "web-programming::http-client"]
edition = "2018"
exclude = ["tests/fixtures/*", "header.png"]

[badges]
travis-ci = { repository = "nickelc/modio-rs" }
maintenance = { status = "actively-developed" }

[dependencies]
bitflags = "1"
bytes = "0.5"
futures-core = "0.3.4"
futures-util = { version = "0.3.4", features = ["sink"] }
http = "0.2"
log = "0.4"
mime = "0.3"
pin-project-lite = "0.1"
reqwest = { version = "0.10", default-features = false, features = ["stream"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "0.2", default-features = false, features = ["fs"] }
tokio-util = { version = "0.3", features = ["codec"] }
url = { version = "2", features = ["serde"] }

[dev-dependencies]
dotenv = "0.15"
env_logger = { version = "0.7", default-features = false }
httptest = "0.13"
md5 = "0.7"
tokio = { version = "0.2", features = ["full"] }

[features]
default = ["default-tls"]
default-tls = ["reqwest/native-tls", "__tls"]
rustls-tls = ["reqwest/rustls-tls", "__tls"]

# Internal features
__tls = []

[package.metadata.docs.rs]
all-features = true
